//Use this values for mobile > to desktop 
$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

$page: 1440px;
$content: 1170px;

$h1: 72px;
$h2: 56px;
$h3: 40px;
$h4: 24px;
$h5: 16px;

$label: 12px;
$text-big: 20px;
$text: 16px;
$text-small: 14px;

$red: #EF6D58;
$black: #391400;
$gray: rgb(57 20 0 / 0.64);
$light-gray: rgb(255 255 255 / 0.64);
